@font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik.ttf') format('truetype');
    font-weight: 1 999;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand.ttf') format('truetype');
    font-weight: 1 999;
}



:root {
    --shadow:#1A1B417F;
    --text:#1A1B41;
    --body:#ffffff;
    --body-accent:#4CC9F0;
    --hover:#FF518E;
    --active:#9e697c;
    --hover-text:#FFE66D;
    --active-text:#fff5c3;
    --transparent:#ffe66d00;



    --body-color: rgb(255, 255, 255);
    --bg-color: #5465FF;
    --bg-grid: 50px 50px;
    --bg-gradient: 
      linear-gradient(0deg,transparent 47%, rgba(255, 255, 255, 0.05) 47%,rgba(255, 255, 255, 0.05) 53%,transparent 53%),
      linear-gradient(90deg,transparent 47%,   rgba(255, 255, 255, 0.05) 47%,rgba(255, 255, 255, 0.05) 53%,transparent 53%);/*linear-gradient(338deg, #5465FF 0%, #8b97ff 100%);*/
    --nav-mobile-bg-gradient: #ffe66d;/*linear-gradient(185deg, hsl(320, 100%, 85%) 0%,hsl(17, 100%, 83%) 20%,hsl(44, 100%, 87%) 40%,hsl(97, 100%, 94%) 60%,hsl(165, 100%, 91%) 80%, rgb(184, 229, 255) 100%)*/;
    --nav-desktop-bg: #ffe66d;/*linear-gradient(185deg, hsl(320, 100%, 72%) 0%,hsl(17, 100%, 71%) 20%,hsl(44, 100%, 76%) 40%,hsl(98, 100%, 90%) 60%,hsl(165, 100%, 78%) 80%, rgb(35, 149, 214) 100%);*/
    --nav-shadow-color: var(--hover-text);

    --nav-button-color: var(--text);
    --nav-button-border-color: var(--transparent);
    --nav-button-bg-color: rgba(157, 140, 255, 0);

    --nav-button-hover-color: var(--hover-text);
    --nav-button-hover-border-color: var(--hover);
    --nav-button-hover-bg-color: var(--hover);

    --nav-button-active-color:  var(--active-text);
    --nav-button-active-border-color: ar(--active);
    --nav-button-active-bg-color: var(--active);

    --nav-border-color: #FFE66D;

    --contact-button-color: var(--body);
    --contact-button-border-color: var(--body);
    --contact-button-bg-color: var(--transparent);

    --contact-button-hover-color: #1A1B41;
    --contact-button-hover-shadow-color: var(--hover-text);
    --contact-button-hover-border-color: var(--hover-text);
    --contact-button-hover-bg-color: var(--hover-text);

    --contact-button-active-color: aliceblue;
    --contact-button-active-border-color: var(--hover);
    --contact-button-active-bg-color: var(--hover);

    --expand-dong-color: #1A1B41;

    --nav-item-shadow-color: rgba(0, 0, 0, 0.514);
    --contact-button-shadow-color: var(--hover-text);
    --contact-button-shadow-active-color: var(--hover);

    --button-recess-color: rgba(0, 0, 0, 0.514);
    --box-recess-color: rgba(255, 255, 255, 0.514);
    --box-border-color: rgba(255, 255, 255, 0.514);
  }


  html {
    font-family: 'Quicksand', 'Rubik', sans-serif;
    background: var(--bg-color);
    color: var(--body-color);
    user-select: none;
    height: 100%;
    width: 100%;

}

@media only screen and (orientation: portrait) {
    .woop {
        transform: rotate(90deg);

    }
    nav{
        
    bottom: 0;
    }
    nav-list {
        display: table-column !important;
        /*transform: translateX(calc(-50vw + 80px));*/
        transition: all 1s cubic-bezier(.7, .04, .62, .95);
    }

    nav-list.active {
        display: table-column !important;
        transform: translateY(0px);
        width: 90%;

        transition: all 1s cubic-bezier(.17, .67, .27, .94);
    }

    nav-list>a:not(.current) {
        display: none;
        transition: all 0.75s cubic-bezier(0, .95, .26, 1);

    }

    nav-list.active>a:not(.current) {
        display: inline;

    }

    nav {
        transition: all 0.75s cubic-bezier(0, .95, .26, 1);
        height: 10%;
        width: calc(100% - 26px) !important;
        background:  var(--nav-mobile-bg-gradient)!important;
        border: var(--nav-border-color) 3px solid;
    }

    nav.active {
        transform: translateY(0px);
        height: calc(100% - 26px);
    }

    hero>h1 {
        font-size: 80px;
        white-space: nowrap;
    }

    .container {
        overflow: auto;
    }

    .container.box {

        box-shadow: 0px 10px 30px -10px var(--box-recess-color);
        border: var(--box-border-color) 1px solid !important;
        padding: 1em;
        border-radius: 3px;
        color:var(--var(--body-color))
    }

    nav-item:hover {
        background-color: var(--nav-button-hover-bg-color);
        color: var(--nav-button-hover-color);
        padding: 20px 60px;
        border-radius: 5px;
        font-weight: 900;
        transition: all 0.5s cubic-bezier(0, .95, .26, 1);
        border: var(--nav-button-hover-border-color) solid 1px;

    }

    nav-item:active {
        background-color: var(--nav-button-active-bg-color);
        color: var(--nav-button-active-color);
        padding: 20px 60px;
        border-radius: 5px;
        border: var(--nav-button-active-border-color) solid 1px;
        font-weight: 900;
        box-shadow: 0px 10px 30px -10px var(--button-recess-color) inset;
        transition: all 0.5s cubic-bezier(0, .95, .26, 1);

    }

    contactscontainer {
        line-height: 1cm;
    }

    contactbutton {
        display: block !important;
        text-align: center;
        white-space: normal;
        padding: 0.25em 1em !important;
    }
}

@media only screen and (orientation: landscape) {

    .hamburgerBTN {
        display: none !important;
    }

    nav{
        
        top: 0;
    }
    hero>h1 {
        font-size: 120px;
        white-space: nowrap;
    }

    contactscontainer {

        line-height: 2cm;
    }

    contactbutton {
        white-space: nowrap;
    }

}

/* 

all oethere

*/


body {
    height: calc(100% - 5px);
    width: 100%;
    margin: 0px;
}

.navlink {
    text-decoration: none;
    margin: 20px;
}

.hamburgerBTN {
    font-family: 'Rubik';
    position: fixed;
    font-weight: 100;
    height: 48px;
    width: 48px;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 10px;
    height: 20px;
    width: 20px;
    color: var(--expand-dong-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    white-space: nowrap;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
}


.hamburgerBTN.active {
    transform: rotate(405deg);
    font-size: 1.5rem;
    font-weight: 500;
    color:var(--hover);
    transition: all 1.0s cubic-bezier(0, .95, .26, 1);
}



nav {
    background: var(--nav-desktop-bg);
    position: fixed;
    /*mix-blend-mode: hard-light;
    backdrop-filter: blur(10px);*/
    height: 80px;
    left: 0;
    min-height: 50px;
    width: calc(100% - 20px);
    color: var(--nav-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    white-space: nowrap;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px var(--nav-shadow-color);
    transition: all 1.0s cubic-bezier(0, .95, .26, 1);

}

nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    white-space: nowrap;


}


nav-item {
    height: 100%;
    color: var(--nav-button-color);
    background-color: var(--nav-button-bg-color);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
    border: var(--nav-button-border-color) solid 1px;

}

nav-item:hover {
    background-color: var(--nav-button-hover-bg-color);
    color: var(--nav-button-hover-color);
    padding: 20px 60px;
    border-radius: 5px;
    font-weight: 900;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
    border: var(--nav-button-hover-border-color) solid 1px;

}

nav-item:active {
    background-color: var(--nav-button-active-bg-color);
    color: var(--nav-button-active-color);
    padding: 20px 60px;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 0px 10px 30px -10px var(--nav-item-shadow-color) inset;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
    border: var(--nav-button-active-border-color) solid 1px;

}

.container {
    margin: 30px;
    margin-top: 150px;
    width: calc(100% - 60px);
    height: calc(100% - 180px);
    z-index: 3 !important;
    overflow: auto;
}

hero-container {
    background-size:  var(--bg-grid)!important;
    background: var(--bg-gradient);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;

}

a {
    color: var(--body-color);
    text-decoration: none;
}

contactbutton {
    display:inline;
    background-color: var(--contact-button-bg-color);
    border: var(--contact-button-border-color) 1px solid;
    padding: 1em;
    border-radius: 3px;
    margin: 0.2em;
    user-select: none;
    -webkit-user-drag: none;
    color: var(--contact-button-color);
    transition: all 0.25s cubic-bezier(.67, .27, .31, .86);
}

contactbutton:hover {
    border: var(--contact-button-hover-border-color) 1px solid;
    border-radius: 5px;
    margin: 0.2em;
    background: var(--contact-button-hover-bg-color);
    color: var(--contact-button-hover-color);
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px -5px var(--contact-button-shadow-color);
}

contactbutton:active {
    border: var(--contact-button-active-border-color) 1px solid;
    border-radius: 7px;
    margin: 0.2em;
    color: var(--contact-button-active-color);
    background: var(--contact-button-active-bg-color);
    box-shadow: 0px 10px 20px -5px var(--contact-button-shadow-active-color);

}

hero {

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    transition: transform 1.5s cubic-bezier(0, .95, .26, 1);

}

h2 {
    font-size: 4rem;
}

.woop {
    margin: 10px;
    transition: all .5s cubic-bezier(1, 0, .6, 1);
    font-weight: 400;
    z-index: 20;
}

.woop:hover {

    letter-spacing: 1rem !important;
    transition: letter-spacing 0.5s cubic-bezier(0, .95, .26, 1), font-weight 0.5s cubic-bezier(0, .95, .26, 1);
    font-weight: 900;
}


spacefix {
    width: 100%;
    height: calc(100% - 10px);
    display: inline-block;
    z-index: 0;
}