@font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik.ttf') format('truetype');
    font-weight: 1 999;
}


html {
    font-family: 'Rubik', sans-serif;
    background: #070717;
    color: #fff;
    user-select: none;
    height: 100%;
    width: 100%;
}





@media (max-width: 767px) {
    .woop {
        transform: rotate(90deg);

    }

    nav-list {
        display: table-column !important;
        /*transform: translateX(calc(-50vw + 80px));*/
        transition: all 1s cubic-bezier(.7, .04, .62, .95);
    }

    nav-list.active {
        display: table-column !important;
        transform: translateY(0px);
        width: 90%;

        transition: all 1s cubic-bezier(.17, .67, .27, .94);
    }

    nav-list>a:not(.current) {
        display: none;
        transition: all 0.75s cubic-bezier(0, .95, .26, 1);
        color: rgba(255, 255, 255, 0);

    }

    nav-list.active>a:not(.current) {
        display: inline;
        color: rgba(255, 255, 255, 1);

    }

    nav {
        transition: all 0.75s cubic-bezier(0, .95, .26, 1);
        height: 10%;
        width: calc(100% - 26px) !important;
        background: linear-gradient(338deg, hsl(44, 100%, 90%) 0%, rgb(201, 255, 239) 100%) !important;
        border: #000000 3px solid;
    }

    nav.active {
        transform: translateY(0px);
        height: calc(100% - 26px);
    }

    hero>h1 {
        font-size: 80px;
        white-space: nowrap;
        color: rgb(0, 0, 0);
    }

    .container {
        box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.514) inset;
        overflow: auto;
    }

    .container.box {

        border: black 1px solid;
        padding: 1em;
        border-radius: 3px;
    }

    nav-item:hover {
        background-color: aliceblue;
        color: #070717;
        padding: 20px 60px;
        border-radius: 5px;
        font-weight: 900;
        transition: all 0.5s cubic-bezier(0, .95, .26, 1);
        border: aliceblue solid 1px;

    }

    nav-item:active {
        background-color: aliceblue;
        color: #070717;
        padding: 20px 60px;
        border-radius: 5px;
        font-weight: 900;
        box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.514) inset;
        transition: all 0.5s cubic-bezier(0, .95, .26, 1);

    }

    contactscontainer {
        line-height: 1cm;
    }

    contactbutton {
        display: block !important;
        text-align: center;
        white-space: normal;
    }
}

@media (min-width: 768px) {

    .hamburgerBTN {
        display: none !important;
    }


    hero>h1 {
        font-size: 120px;
        color: rgb(0, 0, 0);
        white-space: nowrap;
    }

    contactscontainer {

        line-height: 2cm;
    }

    contactbutton {
        white-space: nowrap;
    }

}

/* 

all oethere

*/


body {
    height: calc(100% - 5px);
    width: 100%;
    margin: 0px;
}

.navlink {
    text-decoration: none;
    margin: 20px;
}

.hamburgerBTN {
    position: fixed;
    font-weight: 100;
    height: 48px;
    width: 48px;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 10px;
    height: 20px;
    width: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    white-space: nowrap;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
}


.hamburgerBTN.active {
    transform: rotate(405deg);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 1.0s cubic-bezier(0, .95, .26, 1);
}



nav {
    background: hsla(54, 100%, 87%, 0.705);
    position: fixed;
    /*mix-blend-mode: hard-light;
    backdrop-filter: blur(10px);*/
    top: 0;
    height: 80px;
    left: 0;
    min-height: 50px;
    width: calc(100% - 20px);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    white-space: nowrap;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.514);
    transition: all 1.0s cubic-bezier(0, .95, .26, 1);

}

nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    white-space: nowrap;


}


nav-item {
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
    border: rgba(255, 255, 255, 0) solid 1px;

}

nav-item:hover {
    background-color: aliceblue;
    color: #070717;
    padding: 20px 60px;
    border-radius: 5px;
    font-weight: 900;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
    border: rgb(157, 140, 255) solid 1px;

}

nav-item:active {
    background-color: aliceblue;
    color: #070717;
    padding: 20px 60px;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.514) inset;
    transition: all 0.5s cubic-bezier(0, .95, .26, 1);
    border: rgb(186, 175, 255) solid 1px;

}

.container {
    margin: 30px;
    margin-top: 150px;
    width: calc(100% - 60px);
    height: calc(100% - 180px);
    z-index: 3 !important;
    overflow: auto;
}

hero-container {
    background: rgb(179, 31, 165);
    background: linear-gradient(338deg, hsl(340, 100%, 82%) 0%, #b9ff99 100%);
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(338deg, rgb(11, 4, 51) 0%, rgb(44, 13, 131) 100%);*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;

}

a {
    color: black;
    text-decoration: none;
}

contactbutton {
    display:flexbox;
    border: black 1px solid;
    padding: 1em;
    border-radius: 3px;
    margin: 0.2em;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.5s cubic-bezier(.67, .27, .31, .86);
}

contactbutton:hover {
    border: aliceblue 1px solid;
    border-radius: 5px;
    margin: 0.2em;
    background: white;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.514);
}

contactbutton:active {
    border: black 1px solid;
    border-radius: 7px;
    margin: 0.2em;
    color: aliceblue;
    background: black;

}

hero {

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    transition: all 1.5s cubic-bezier(0, .95, .26, 1);

}

h2 {
    font-size: 4rem;
}

.woop {
    margin: 10px;
    transition: all .5s cubic-bezier(1, 0, .6, 1);
    z-index: 20;
}

.woop:hover {

    letter-spacing: 1rem !important;
    transition: letter-spacing 0.5s cubic-bezier(0, .95, .26, 1), font-weight 0.5s cubic-bezier(0, .95, .26, 1);
    font-weight: 400;
}


spacefix {
    width: 100%;
    height: calc(100% - 10px);
    display: inline-block;
    z-index: 0;
}